<h1>New Observation</h1>
<h3>First you must give your observation a name!</h3>

<%= form_for @observation do |f| %>
    <%= render 'error/error', :model => @observation %> 
    <%= render 'form', f: f %>
<% end %>

