<h1>Show Page</h1>


<%= @observation.name %>

<% if @observation.galaxy %>
<%= link_to "Show Galaxy", galaxy_path(@observation.galaxy) %>
<% else %>
<%= link_to "Create New Galaxy", new_observation_galaxy_path(@observation) %>
<% end %>