<h1>Show Page</h1>


<%= @observation.name %>
<h1>Systems</h1>
<% @observation.systems.each do |system| %>
    <%= system.name %>
    <br>
<% end %>
<h1>Planets</h1>
<% @observation.planets.each do |planet| %>
    <%= planet.name %>
    <br>
<% end %>
