<p>Hello from app</p>

<a href="#" onClick="getGalaxies()">Get All Galaxies</a>

<div id="user" data-userId="<%= current_user.id %>"></div>
<div id="index"></div>
<div id="app">Replace Me</div>
<div id="observations"></div>
<div id="form"></div>