<h1>Show</h1>
<%= @user.username %>
<br>
<% @user.observations.each do |observation| %>
<p>Observation: <%= link_to observation.name, observation %></p>
<% end %>

<br>
<%= link_to "New Observation", new_user_observation_path(@user) %> |
<%= link_to 'Logout', logout_path %>