<h1>Show</h1>
<%= @user.username %>
<br>
<% @user.galaxies.each do |galaxy| %>
<p>Galaxy: <%= link_to galaxy.name, galaxy %></p>
<% end %>

<br>
<%= link_to "New Galaxy", new_observation_path %> |
<%= link_to 'Logout', logout_path %>