<h1>Show Page</h1>

<%= @planet.name %>
<br>
<%= link_to "Edit Planet", edit_observation_planet_path(@planet.observation) %>
<br>
<%= link_to "Destroy", @planet, method: :delete, data: {confirm: "Sure?"} %>