<h1>Show Page</h1>

<%= @galaxy.name %>
<br>
<% if session[:user_id] == @galaxy.observation.user_id %>
<%= link_to "Edit Galaxy", edit_observation_galaxy_path(@galaxy.observation) %>
<br>
<%= link_to "Destroy", @galaxy, method: :delete, data: {confirm: "Sure?"} %>
<br>
<% end %>
<%= link_to "Back to Observation", @galaxy.observation %>