<h1>Index page</h1>
<% if @error %>
    <h3><%= @error %></h3>
<% end %>

<% @systems.each do |system| %>
    <%= link_to system.name , system %>
    <br>
<% end %>


<%= link_to "new", new_observation_system_path %>