* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #001a33;
	color: white;
}
img {
	width: 200px;
	height: 200px;
}

label {
	display: inline-block;
	margin: .5em 1em .2em 5.5em;
	border-radius: 1em;
}
